<?xml version="1.0"?>

<launch>
	<arg name="frame_id" default="/scan"/>
	<arg name="scanner_ip" default="10.0.10.76"/>
	<arg name="major_version" default="0"/>
	<arg name="scan_frequency" default="100"/>
	<arg name="samples_per_scan" default="500"/>

	<include file="$(find pf_driver)/launch/r2300.launch">
		<arg name="frame_id" value="$(arg frame_id)"/>
		<arg name="scanner_ip" value="$(arg scanner_ip)"/>
		<arg name="major_version" value="$(arg major_version)"/>
		<arg name="scan_frequency" value="$(arg scan_frequency)"/>
		<arg name="samples_per_scan" value="$(arg samples_per_scan)"/>
	</include>

	<node pkg="tf" type="static_transform_publisher" name="ring1" args="0 0 0 0 0.0785 0 /scan /scan_0 10" />
	<node pkg="tf" type="static_transform_publisher" name="ring2" args="0 0 0 0 0.0262 0 /scan /scan_1 10" />
	<node pkg="tf" type="static_transform_publisher" name="ring3" args="0 0 0 0 -0.0785 0 /scan /scan_2 10" />
	<node pkg="tf" type="static_transform_publisher" name="ring4" args="0 0 0 0 -0.0262 0 /scan /scan_3 10" />
	<!--node name="rvizLocal" pkg="rviz" type="rviz" respawn="false" output="screen" args= "-d $(find pf_driver)/rviz/4layer.rviz" required="true" /-->
</launch>