<?xml version="1.0"?>
<launch>
  <arg name="device" default="R2300"/>

  <arg name="launch_pf_description" default="true"
       doc="Whether to include the pf_description bringup with this launch file." />
  <arg name="launch_rviz" default="true"
       doc="Whether to start RViz with this launch file." />

  <group if="$(arg launch_pf_description)">
    <include file="$(find pf_description)/launch/pf_bringup.launch" >
      <arg name="scanner" value="r2300" />
    </include>
  </group>

  <!-- R2300 Driver -->
  <node pkg="pf_driver" type="ros_main" name="r2300_node" output="screen">
    <param name="device" value="$(arg device)"/>
    <rosparam file="$(find pf_driver)/config/r2300_params.yaml" command="load"/>
    <rosparam file="$(find pf_driver)/config/correction_params.yaml" command="load"/>
  </node>

  <group if="$(arg launch_rviz)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find pf_driver)/rviz/r2300.rviz" />
  </group>
</launch>
